.DS_Store

.terraform/*
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
tf-cloud-init
tf-cloud-init.pub
terraform/.terraform/*
terraform/uploads

# google service
gc-service.json
*-gc-service.json

# env

.env*

# docker
.docker
kompose

# dockerhub
my_password.txt

## ssl

domain.crt
domain.key
domain.csr

# development

!docker/.env